<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../grid-styles.html?v=1.2.1">

<dom-module id="detail-text">
  <template>
    <style include="grid iron-flex">

      :host {
        display: block;
      }

      .label {
        font-size: 14px;
        font-weight: 100;
        letter-spacing: -0.14px;
        line-height: normal;
        color: #FFFFFF;
        font-style: italic;
      }

      .details {
        font-size: 24px;
        font-weight: 500;
        letter-spacing: -0.24px;
        line-height: normal;
        color: #FFFFFF;
      }

      :host(.normal) .details {
        font-size: 16px;
      }

    </style>
    <label class="label">
      [[ label ]]
    </label>
    <div class="details">
      [[ details ]]
    </div>
    <slot></slot>

  </template>

  <script>

    class DetailText extends ReduxBehavior(Polymer.Element) {

      static get is() { return 'detail-text'; }

      static get properties() {
        return {
          label: String,
          details: String
        }
      }
      
      constructor() {
        super();

      }

      connectedCallback() {
        super.connectedCallback();

      }


    }

    customElements.define(DetailText.is, DetailText);
	</script>
</dom-module>
