<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/elements/thegrid/grid-icons.html">
<link rel="import" href="/elements/thegrid/grid-styles.html">

<dom-module id="grid-drawer">
  <template>
    <style include="grid iron-flex">

      :host {
        display: block;
        position: relative;
        background: #212121;
        height: 100%;
        overflow-y: auto;
      }

      .nav {
        list-style: none;
        padding: 0;
        margin: 0;
      }

      .nav li {
        padding: 16px 16px;
      }

      .user-view {
        position: relative;
        padding: 16px;
        background-image: url(/assets/images/background.png);
        background-position: center;
        background-size: cover;
      }

      li a {
        line-height: 24px;
      }

      li a .icon {
        margin-right: 32px;
      }

      li.divider {
        padding: 16px 0;
      }

      li.divider hr {
        margin: 0;
        opacity: 0.12;
      }

      .user-view .background {
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

      }

      .user-view .background img {
        height: 100%;
        width: 100%;
      }

      .circle {
        height: 64px;
        width: 64px;
        border-radius: 50%;
      }

      .divider {

      }
      a {
        display: block;
        text-decoration: none;
        color: #FFFFFF;
      }


    </style>
    <template is="dom-if" if="[[isLoggedIn]]">
      <ul class="nav">
        <li class="user-view">
            <div>
              <div class="background">
                <img src="/assets/images/background.png">
              </div>
              <a on-click="redirectProfile"><img class="circle" src$="[[_profileImage(user.profile.profile_image_url)]]"></a>
              <a href="#!name"><span class="white-text name">[[user.name]]</span></a>
              <a href="#!email"><span class="white-text email">@[[user.username]]</span></a>
          </div>
        </li>
        <li>
          <a href="/posts"><iron-icon src="/assets/images/icons/posts.svg" class="white icon"></iron-icon> <span>Posts</span></a>
        </li>
        <li>
          <a href="/bids"><iron-icon src="/assets/images/icons/bids.svg" class="icon"></iron-icon> <span>Bids</span></a>
        </li>
        <li>
          <a href="/inbox"><iron-icon src="/assets/images/icons/inbox.svg" class="icon"></iron-icon> <span>Inbox</span></a>
        </li>
        <li>
          <a href="/transactions"><iron-icon src="/assets/images/icons/transactions.svg" class="icon"></iron-icon> <span>Transactions</span></a>
        </li>
        <li class="divider">
          <hr />
        </li>
        <li>
          <a href="/settings"><iron-icon src="/assets/images/icons/settings.svg" class="icon"></iron-icon> <span>Settings</span></a>
        </li>
        <li>
          <a href="/help"><iron-icon src="/assets/images/icons/help_feedback.svg" class="icon"></iron-icon> <span>Help &amp; Feedback</span></a>
        </li>
        <li class="divider">
          <hr />
        </li>
        <li>
          <a href="/logout"><iron-icon icon="logout" class="icon"></iron-icon> <span>Logout</span></a>
        </li>
      </ul>
    </template>

    <div hidden$="[[isLoggedIn]]">
      <ul class="nav">
        <li>
          <a href="/login"><iron-icon src="/assets/images/icons/transactions.svg" class="icon"></iron-icon> <span>Sign In</span></a>
        </li>
        <li>
          <a href="/register"><iron-icon src="/assets/images/icons/transactions.svg" class="icon"></iron-icon> <span>Sign Up</span></a>
        </li>
      </ul>
    </div>

  </template>

  <script>

    class GrdiDrawer extends GridNavigation(ReduxBehavior(Polymer.Element)) {

      static get is() { return 'grid-drawer'; }

      static get properties() {
        return {
          user: {
            type: Object,
            statePath: 'user'
          }
        }
      }

      static get actions() {
        return {

          logout() {
            return {
              type: 'LOGOUT_USER'
            }
          }

        }
      }

      constructor() {
        super();

      }

      connectedCallback() {
        super.connectedCallback();

      }

      _profileImage(img) {
        if( img ) {
          return this.url.API_BASE_URL + '/storage/avatars/' + img;
        }
        if(this.user) return LetterAvatar(this.user.name, '64');//return this.url.API_BASE_URL + '/storage/avatars/profile_avatar_placeholder_large.png';

        return LetterAvatar('Grid', 64);

      }

      // logout() {
      //   console.log('logout');
      //   this.dispatch('logout');
      // }


    }

    customElements.define(GrdiDrawer.is, GrdiDrawer);
	</script>
</dom-module>
