<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/paper-ripple/paper-ripple.html">
<link rel="import" href="../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../../../bower_components/paper-item/paper-item-body.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../grid-icons.html">
<link rel="import" href="../grid-styles.html">

<dom-module id="grid-drawer">
  <template>
    <style include="grid iron-flex">
       :host {
        display: block;
        position: relative;
        background: #212121;
        height: 100%;
        overflow-y: auto;
      }

      .nav {
        list-style: none;
        padding: 0;
        margin: 0;
      }

      .nav li {
        /* padding: 16px 16px;
        position: relative; */
      }

      .user-view {
        position: relative;
        /* padding: 16px; */
        background-image: url(/assets/images/background.png);
        background-position: center;
        background-size: cover;
        margin-bottom: 16px;
      }

      li a {
        line-height: 24px;
      }

      li a .icon {
        margin-right: 32px;
      }

      .divider {
        padding: 16px 0;
      }

      .divider hr {
        margin: 0;
        opacity: 0.12;
      }

      .user-view .background {
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }

      .user-view .background img {
        height: 100%;
        width: 100%;
      }

      .circle {
        height: 64px;
        width: 64px;
        border-radius: 50%;
      }

      a {
        display: block;
        text-decoration: none;
        color: #FFFFFF;
      }

      paper-icon-item {
        color: #FFFFFF;
        cursor: pointer;
      }
    </style>

    <template is="dom-if" if="[[isLoggedIn]]">
      <div class="user-view">
        
        <div class="background">
          <img src="/assets/images/background.png">
        </div>
        <div style="padding: 16px 0 8px 16px;">
          <a on-click="redirectProfile"><img class="circle" src$="[[_profileImage(user.profile.profile_image_url)]]"></a>
        </div>
        <div class="layout horizontal">
          <div class="flex" style="padding: 8px 0 8px 16px;">
            <a href$="/@[[user.username]]"><span class="white-text name">[[user.name]]</span></a>
            <a href$="/@[[user.username]]"><span class="white-text email">@[[user.username]]</span></a>
          </div>
          <paper-icon-button style="padding: 16px; height: 60px; width: 60px;" icon="arrow-drop-down" class="white" on-click="toggleMenu"></paper-icon-button>
        </div>
        
        <!-- <paper-ripple></paper-ripple> -->
      </div>
    </template>
    <template is="dom-if" if="[[!isLoggedIn]]">
      <div class="user-view">
        <div>
          <div class="background">
            <img src="/assets/images/background.png">
          </div>
          <div style="padding: 16px 0 8px 16px;">
            <a on-click="redirectProfile"><img class="circle" src$="[[_profileImage()]]"></a>
          </div>
          <div class="layout horizontal">
            <div class="flex" style="padding: 8px 0 8px 16px;">
              <a href="#!name"><span class="white-text name">The Grid</span></a>
              <a href="/login"><span class="white-text email">Sign in</span></a>
            </div>
          </div>
        </div>
        <paper-ripple></paper-ripple>
      </div>
    </template>

    <div role="list" hidden$="[[showOptions]]">

      <a href="/posts">
        <paper-icon-item>
          <iron-icon icon="grid:posts" class="white" slot="item-icon"></iron-icon>
          <paper-item-body>
            <div>Posts</div>
          </paper-item-body>
          <paper-ripple></paper-ripple>
        </paper-icon-item>
      </a>

      <a href="/bids">
        <paper-icon-item>
          <iron-icon icon="grid:bids" class="white" slot="item-icon"></iron-icon>
          <paper-item-body>
            <div>Bids</div>
          </paper-item-body>
          <paper-ripple></paper-ripple>
        </paper-icon-item>
      </a>

      <a href="/inbox">
        <paper-icon-item>
          <iron-icon icon="grid:inbox" class="white" slot="item-icon"></iron-icon>
          <paper-item-body>
            <div>Inbox</div>
          </paper-item-body>
          <paper-ripple></paper-ripple>
        </paper-icon-item>
      </a>

      <a href="/transactions">
        <paper-icon-item>
          <iron-icon icon="grid:transactions" class="white" slot="item-icon"></iron-icon>
          <paper-item-body>
            <div>Transactions</div>
          </paper-item-body>
          <paper-ripple></paper-ripple>
        </paper-icon-item>
      </a>

      <div class="divider">
        <hr/>
      </div>

      <a href="/settings">
        <paper-icon-item>
          <iron-icon icon="grid:settings" class="white" slot="item-icon"></iron-icon>
          <paper-item-body>
            <div>Settings</div>
          </paper-item-body>
          <paper-ripple></paper-ripple>
        </paper-icon-item>
      </a>

      <a href="/help">
        <paper-icon-item>
          <iron-icon icon="grid:help-feedback" class="white" slot="item-icon"></iron-icon>
          <paper-item-body>
            <div>Help &amp; Feedback</div>
          </paper-item-body>
          <paper-ripple></paper-ripple>
        </paper-icon-item>
      </a>

    </div>

    <template is="dom-if" if="[[isLoggedIn]]">
      <div role="list" hidden$="[[!showOptions]]">
        <paper-icon-item on-click="toggleNotifications">
          <iron-icon icon="grid:notifications" class="white" slot="item-icon"></iron-icon>
          <paper-item-body>
            <div>[[mute]] Notifications</div>
          </paper-item-body>
          <paper-ripple></paper-ripple>
        </paper-icon-item>
        <a href="/logout">
          <paper-icon-item>
            <iron-icon icon="grid:share" class="white" slot="item-icon"></iron-icon>
            <paper-item-body>
              <div>Logout</div>
            </paper-item-body>
            <paper-ripple></paper-ripple>
          </paper-icon-item>
        </a>
      </div>
    </template>


  </template>

  <script>
    class GridDrawer extends GridNavigation(ReduxBehavior(Polymer.Element)) {

      static get is() { return 'grid-drawer'; }

      static get properties() {
        return {
          user: {
            type: Object,
            statePath: 'user'
          },
          notifications: {
            type: Boolean,
            notify: true
          }
        }
      }

      static get observers() {
        return [

        ]
      }

      static get actions() {
        return {

          logout() {
            return {
              type: 'LOGOUT_USER'
            }
          }

        }
      }

      constructor() {
        super();
        this.showOptions = false;
        this.notifications = true;
        this.mute = 'Mute';
      }

      connectedCallback() {
        super.connectedCallback();

      }

      toggleMenu(e) {
        const target = e.target;
        this.showOptions = !this.showOptions;

        if (this.showOptions) {
          target.icon = 'arrow-drop-up';
        } else {
          target.icon = 'arrow-drop-down';
        }

      }

      toggleNotifications() {
        this.notifications = !this.notifications;
        if(this.notifications) {
          this.mute = 'Mute';
        } else {
          this.mute = 'Unmute';
        }
      }


      _profileImage(img) {
        if (img) {
          return this.url.API_BASE_URL + '/uploads/' + img;
        }
        if (this.user) return LetterAvatar(this.user.name, '64');//return this.url.API_BASE_URL + '/storage/avatars/profile_avatar_placeholder_large.png';

        return LetterAvatar('Grid', 64);

      }

      // logout() {
      //   console.log('logout');
      //   this.dispatch('logout');
      // }


    }

    customElements.define(GridDrawer.is, GridDrawer);
  </script>
</dom-module>