<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../grid-styles.html">
<link rel="import" href="../../../behaviors/map-behavior.html">
<link rel="import" href="../../../behaviors/navigation-behavior.html">

<dom-module id="grid-map">
  <template>
    <style include="grid iron-flex">

      :host {
        display: block;
        width: 100%;
        height: 100%;
      }

      #mapCanvas {
        height: 100%;
        width: 100%;
      }

    </style>

    <div id="mapCanvas">

      <div class="overlay" style="background: #212121;">
        <div class="align-center">
          <paper-spinner active></paper-spinner>
        </div>
      </div>

    </div>

  </template>

  <script>

    class GridMap extends GridNavigation(MapBehaviorMixin(ReduxBehavior(Polymer.Element))) {

      static get is() { return 'grid-map'; }

      static get properties() {
        return {

          apiKey: {
            type: String,
            value: 'AIzaSyAJyuWvZ03O18yHTvC1t3Mlj22VY73hJWc'
          },

          user: {
            type: Object,
            statePath: 'user'
          },

          auth: {
            type: Boolean,
            statePath: 'auth'
          },

          cluster: {
            type: Boolean,
            value: true
          },

          r_markers: {
            type: Object,
            statePath: 'r_markers'
          },

          gmap: {
						type: Object,
						value: function () {
							return this;
						},
						notify: true
					}

        }

      }

      static get observers() {
        return [
          '_authChange(auth)',
          // '_markersChange(markers)'
        ]
      }

      static get actions() {
  			return {
          setMarkers(markers) {
            return {
              type: 'SET_MARKERS',
              markers: markers
            }
          },

          r_addMarker(marker) {
            return {
              type: 'ADD_MARKER',
              marker: marker
            }
          }
  			};
  		}

      constructor() {
        super();
        const self = this;

        self.loadGoogleApi('https://maps.googleapis.com/maps/api/js?key=' + self.apiKey + '&libraries=places', function() {
          self.loadMapCanvas();
          if( self.cluster ) {
            self.loadGoogleApi('/assets/js/markerclusterer.js',
              function() {
                  self.markerClusterer = new MarkerClusterer(self.map, [], self.clusterOptions);
              }
            );
          }
          self.loadGoogleApi('https://cdnjs.cloudflare.com/ajax/libs/OverlappingMarkerSpiderfier/1.0.3/oms.min.js',
            function() {
              self.oms = new OverlappingMarkerSpiderfier(self.map, {
                markersWontMove: true,   // we promise not to move any markers, allowing optimizations
                markersWontHide: true,   // we promise not to change visibility of any markers, allowing optimizations
                basicFormatEvents: true  // allow the library to skip calculating advanced formatting information
              });
            }
          )
        });

      }

      connectedCallback() {
        super.connectedCallback();

      }

      loadMapCanvas() {
        let e = this.$.mapCanvas;
        let options = this.mapOptions;

        this.map = new google.maps.Map(e, options);
        this.map.setOptions({ zoomControlOptions: { position: google.maps.ControlPosition.LEFT_BOTTOM } });
        
        if(window.mobilecheck()) {
          console.log('this is mobile');
          this.map.setOptions({zoomControl: false});
        }
        this.listenMapEvents();
        this.populateJobMarkers();
      }

      listenMapEvents() {
        // this.mapListener('click', function(a, e) {
        //   console.log("finish dragging",a, e);
        // });
      }

      populateJobMarkers() {
        // IDEA: if map is currently loading do nothing to prevent multiple request at once
        if( this.loadingJobMarkers ) return;

        const self = this;
        var markers = self.markers;

        self.loadingJobMarkers = true;

        axios.get(API_BASE_URL + '/job/all?lat='+self.mapOptions.center.lat+'&lng='+self.mapOptions.center.lng)
  				.then(response => {

            self.loadingJobMarkers = false;

  					var data = response.data;
            var markerType = self.markerType.newJob;

            for(var i = 0; i < data.length; i++) {
              markerType = self.markerType.newJob;
							data[i].fillColor = markerType.color;
							data[i].isMyPost = false;
							data[i].isBidded = false;
  						var bids = data[i].bids;

  						if(self.auth) {
  							if(self.user.id == data[i].user_id) {
  								markerType = self.markerType.myJob;
  								data[i].fillColor = markerType.color;
  								data[i].isMyPost = true;
  							}
  							for(var j = 0; j < bids.length; j++) {
  								// Check if user is already bidded
  								if(self.user.id == bids[j].user_id) {
  									markerType = self.markerType.biddedJob;
  									data[i].fillColor = markerType.color;
  									data[i].isBidded = true;
  								}
  							}
  						}

              // IDEA: remove existing marker before adding it
              self.removeBy( _marker => {
                return _marker.id === data[i].id;
              });

  						self._newMarker(data[i]);
  					}
        }).catch( err => {
          self.loadingJobMarkers = false;
        });
      }

      _markersChange(markers) {
        if(!markers) return;
        for(var i = 0; i < markers.length; i++) {
          this._newMarker(markers[i]);
        }
      }

      newMarker(data) {
        this._newMarker(data);
      }

      _newMarker(data) {
				var self = this;
				var customPin = {
					path: 'M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z',
					fillColor: data.fillColor,
					fillOpacity: 1,
					scale: 1.5,
					strokeColor: data.fillColor,
					strokeWeight: 0.5,
					width: 36,
					height: 36
				};
				var svg = 'data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="'+customPin.width+'" height="'+customPin.height+'"><path transform="scale('+customPin.scale+')" fill="'+customPin.fillColor+'" stroke="'+customPin.strokeColor+'" stroke-width="'+customPin.strokeWeight+'" d="'+customPin.path+'"/></svg>';
				var d = JSON.stringify(data),
					content = document.createElement('grid-info-window');
				content.data = d;
				content.isMyPost = data.isMyPost;
        content.isBidded = data.isBidded;

        content = data.name + '<br/>' + 'AED ' + data.price;

        var icon = '/assets/images/icons/unrelated-marker.svg';

        if( data.isBidded || data.isMyPost ) {
          icon = '/assets/images/icons/related-marker.svg';
        }

				// var dups = self.findBy( marker => {
				// 	return (marker.lat == data.lat) && (marker.lng == data.lng);
				// });

        var post_url = (username, post_id) => {
          return '/@' + username + '/posts/' + post_id; 
        };

				self.addMarker({
          id: data.id,
          category: data.category_id,
					price: data.price,
					isBidded: data.isBidded,
					isMyPost: data.isMyPost,
					lat: parseFloat(data.lat),
					lng: parseFloat(data.lng),
					icon: icon,
					// content: content,
					events: [
						{
							name: 'spider_click',
							callback: function(e, obj) {
                this.redirect(post_url(data.user.username, data.id));
							}
						}
					],
					// label: {
					// 	text: "AED " + data.price,
					// 	color: '#FFF',
					// 	fontSize: '12px',
					// 	fontWeight: 'normal',
					// }
				});
			}

      _authChange(auth) {
        this.populateJobMarkers();
      }


    }

    customElements.define(GridMap.is, GridMap);
	</script>
</dom-module>
