<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="/elements/thegrid/grid-styles.html">
<link rel="import" href="/behaviors/map-behavior.html">

<dom-module id="grid-map">
  <template>
    <style include="grid iron-flex">

      :host {
        display: block;
        width: 100%;
        height: 100%;
      }

      #mapCanvas {
        height: 100%;
        width: 100%;
      }

    </style>

    <div id="mapCanvas">

      <div class="overlay" style="background: #212121;">
        <div class="align-center">
          <paper-spinner active></paper-spinner>
        </div>
      </div>

    </div>

  </template>

  <script>

    class GridMap extends MapBehaviorMixin(ReduxBehavior(Polymer.Element)) {

      static get is() { return 'grid-map'; }

      static get properties() {
        return {

          apiKey: {
            type: String,
            value: 'AIzaSyAJyuWvZ03O18yHTvC1t3Mlj22VY73hJWc'
          },

          user: {
            type: Object,
            statePath: 'user'
          },

          auth: {
            type: Boolean,
            statePath: 'auth'
          },

          cluster: {
            type: Boolean,
            value: true
          },

          r_markers: {
            type: Object,
            statePath: 'r_markers'
          },

        }

      }

      static get observers() {
        return [
          '_authChange(auth)',
          // '_markersChange(markers)'
        ]
      }

      static get actions() {
  			return {
          setMarkers(markers) {
            return {
              type: 'SET_MARKERS',
              markers: markers
            }
          },

          r_addMarker(marker) {
            return {
              type: 'ADD_MARKER',
              marker: marker
            }
          }
  			};
  		}

      constructor() {
        super();
        const self = this;

        self.loadGoogleApi('https://maps.googleapis.com/maps/api/js?key=' + self.apiKey + '&libraries=places', function() {
            self.loadMapCanvas();
            if( self.cluster ) {
              self.loadGoogleApi('https://cdn.rawgit.com/googlemaps/js-marker-clusterer/gh-pages/src/markerclusterer.js',
                function() {
                    self.markerClusterer = new MarkerClusterer(self.map, [], self.clusterOptions);
                }
              );
            }
        });

      }

      connectedCallback() {
        super.connectedCallback();

      }

      loadMapCanvas() {
        let e = this.$.mapCanvas;
        let options = this.mapOptions;

        this.map = new google.maps.Map(e, options);
        this.map.setOptions({ zoomControlOptions: { position: google.maps.ControlPosition.LEFT_BOTTOM } });

        this.listenMapEvents();
        this.populateJobMarkers();
      }

      listenMapEvents() {
        // this.mapListener('click', function(a, e) {
        //   console.log("finish dragging",a, e);
        // });
      }

      populateJobMarkers() {
        // IDEA: if map is currently loading do nothing to prevent multiple request at once
        if( this.loadingJobMarkers ) return;

        const self = this;
        var markers = self.markers;

        self.loadingJobMarkers = true;

        axios.get(API_BASE_URL + '/job/all?lat='+self.mapOptions.center.lat+'&lng='+self.mapOptions.center.lng)
  				.then(response => {

            self.loadingJobMarkers = false;

  					var data = response.data;
            var markerType = self.markerType.newJob;

            for(var i = 0; i < data.length; i++) {
              markerType = self.markerType.newJob;
							data[i].fillColor = markerType.color;
							data[i].isMyPost = false;
							data[i].isBidded = false;
  						var bids = data[i].bids;

  						if(self.auth) {
  							if(self.user.id == data[i].user_id) {
  								markerType = self.markerType.myJob;
  								data[i].fillColor = markerType.color;
  								data[i].isMyPost = true;
  							}
  							for(var j = 0; j < bids.length; j++) {
  								// Check if user is already bidded
  								if(self.user.id == bids[j].user_id) {
  									markerType = self.markerType.biddedJob;
  									data[i].fillColor = markerType.color;
  									data[i].isBidded = true;
  								}
  							}
  						}

              // IDEA: remove existing marker before adding it
              self.removeBy( _marker => {
                return _marker.id === data[i].id;
              });

  						self._newMarker(data[i]);
  					}
        }).catch( err => {
          self.loadingJobMarkers = false;
        });
      }

      _markersChange(markers) {
        if(!markers) return;
        for(var i = 0; i < markers.length; i++) {
          this._newMarker(markers[i]);
        }
      }

      _newMarker(data) {
				var self = this;
				var customPin = {
					path: 'M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z',
					fillColor: data.fillColor,
					fillOpacity: 1,
					scale: 1.5,
					strokeColor: data.fillColor,
					strokeWeight: 0.5,
					width: 36,
					height: 36
				};
				var svg = 'data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="'+customPin.width+'" height="'+customPin.height+'"><path transform="scale('+customPin.scale+')" fill="'+customPin.fillColor+'" stroke="'+customPin.strokeColor+'" stroke-width="'+customPin.strokeWeight+'" d="'+customPin.path+'"/></svg>';
				var d = JSON.stringify(data),
					content = document.createElement('grid-info-window');
				content.data = d;
				content.isMyPost = data.isMyPost;
				content.isBidded = data.isBidded;

        content = data.name + '<br/>' + 'AED ' + data.price;

				// var dups = self.findBy( marker => {
				// 	return (marker.lat == data.lat) && (marker.lng == data.lng);
				// });

				self.addMarker({
					id: data.id,
					price: data.price,
					isBidded: data.isBidded,
					isMyPost: data.isMyPost,
					lat: parseFloat(data.lat),
					lng: parseFloat(data.lng),
					icon: svg,
					content: content,
					events: [
						{
							name: 'click',
							callback: function(e, obj) {
                console.log(data.id, data.name, data.lat, data.lng);
							}
						}
					],
					label: {
						text: "AED " + data.price,
						color: '#FFF',
						fontSize: '12px',
						fontWeight: 'normal',
					}
				});
			}

      _authChange(auth) {
        this.populateJobMarkers();
      }


    }

    customElements.define(GridMap.is, GridMap);
	</script>
</dom-module>
