<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/iron-image/iron-image.html">
<link rel="import" href="/elements/thegrid/components/divider-text.html">
<link rel="import" href="/elements/thegrid/components/social-button.html">
<link rel="import" href="/redux/grid-redux-store.html">
<link rel="import" href="/elements/thegrid/grid-styles.html">

<dom-module id="login-components">
  <template>
    <style include="grid iron-flex">

      :host {
        display: block;
      }

      .logo-container {
        width: 200px;
        height: 48px;
        margin: 20px auto;
        background: transparent;
      }

      .password-control {
        position: absolute;
        right: 16px;
        top: 21px;
        color: #FF3B30;
        cursor: pointer;
        user-select: none;
      }

    </style>

    <div class="p-y-1">
      <div class="logo-container">
        <iron-image src="/assets/images/thegrid.svg"></iron-image>
      </div>
      <form id="loginForm" class="form">
        <div class="form-group">
          <input id="username" type="text" class="form-input"
              placeholder="Username / Email / Phone Number"
              on-keydown="watchEnter" value="{{username::input}}"/>
        </div>
        <div class="form-group relative">
          <input id="password" type="password" class="form-input"
              placeholder="Password"
              on-keydown="watchEnter"/>
          <span class="password-control" on-click="tooglePassword">[[togglePasswordText]]</span>
        </div>
        <div class="form-group">
          <paper-button class="w-100 white" on-tap="signIn">
            <span>LOGIN</span>
          </paper-button>
        </div>
      </form>

      <divider-text line-width="1px" line-color="#FFFFFF">
        <span class="white">Or</span>
      </divider-text>

      <div class="form-control">
        <social-button class="facebook" >
          <iron-icon class="icon" src="/assets/images/facebook.svg"></iron-icon>
          <span>Continue with Facebook</spa>
        </social-button>
      </div>

      <div class="form-control">
        <social-button class="google" on-tap="loginGoogle">
          <iron-icon class="icon" src="/assets/images/google.svg"></iron-icon>
          <span>Sign In with Google</spa>
        </social-button>
      </div>

    </div>
  </template>

  <script>

    class LoginComponents extends ReduxBehavior(Polymer.Element) {

      static get is() { return 'login-components'; }

      static get properties() {
        return {

          user: {
            type: Object,
            statePath: 'user'
          },

          loginAttempt: {
            type: Number,
            value: 0,
            notify: true
          },

          loginError: {
            type: String,
            notify: true
          },

          togglePasswordText: {
            type: String,
            value: 'Show'
          },

          isPasswordHidden: {
            type: Boolean,
            value: true
          },

          isLoggingIn: {
            type: Boolean,
            value: false,
            notify: true
          },

          isLoggedIn: {
            type: Boolean,
            notify: true
          },

          username: {
            type: String,
            value: localStorage.getItem('email') || ''
          }

        }
      }

      static get observers() {
        return [
          '_passwordState(isPasswordHidden)'
        ];
      }

      static get actions() {
  			return {

          assignToken(token) {
            return {
              type: 'ASSIGN_TOKEN',
              token: token
            }
          }
  			};
  		}

      _passwordState(isPasswordHidden) {
        if ( ! isPasswordHidden ) {
          this.togglePasswordText = 'Hide';
          this.$.password.setAttribute('type', 'text');
        } else {
          this.togglePasswordText = 'Show';
          this.$.password.setAttribute('type', 'password');
        }
      }

      tooglePassword() {
        this.isPasswordHidden = !this.isPasswordHidden;
      }

      watchEnter(e) {
        if (e.keyCode === 13) {
					this.signIn();
				}
      }

      signIn() {
        const username = this.$.username;
        const password = this.$.password;
        const self = this;

        self.isLoggingIn = true;
        self.isLoggedIn = false;

        axios.post(API_BASE_URL + '/oauth/token', {

					grant_type: 'password',
      		client_id: 2,
      		client_secret: 'xIxcFxQGFbYkSXKmd0MQ4iuC8Ejfw8x6EcuZJpHe',
					username: username.value,
					password: password.value

				}).then( res => {

          self.isLoggingIn = false;
          self.isLoggedIn = true;

          self.dispatch('assignToken', res.data);

          self.$.loginForm.reset();

        }).catch( err => {

          self.isLoggingIn = false;
          self.isLoggedIn = false;

          if (err.response) {
						var data = err.response.data;
            var loginAttempt = self.loginAttempt + 1;
            self.loginAttempt = loginAttempt;
            self.loginError = 'No account exists for the provided email address.';//data.message;
            self.$.username.focus();
          }

        });

      }

      loginGoogle() {
        window.location.href = API_BASE_URL + '/auth/google';
      }

    }

    customElements.define(LoginComponents.is, LoginComponents);
	</script>
</dom-module>
