<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../../behaviors/navigation-behavior.html?v=1.0.10">
<link rel="import" href="../../../redux/grid-redux-store.html?v=1.0.10">
<link rel="import" href="../grid-styles.html?v=1.0.10">
<link rel="import" href="divider-text.html?v=1.0.10">
<link rel="import" href="social-button.html?v=1.0.10">

<dom-module id="login-components">
  <template>
    <style include="grid iron-flex">

      :host {
        display: block;
        height: calc(100% - 64px);
      }

      .logo-container {
        width: 200px;
        height: 48px;
        margin: 20px auto;
        background: transparent;
      }

      .password-control {
        position: absolute;
        right: 16px;
        top: 21px;
        color: #FF3B30;
        cursor: pointer;
        user-select: none;
      }

    </style>

    <div class="h-100 p-y-1 flex layout vertical">
      <div class="logo-container">
        <iron-image src="/assets/images/thegrid.svg"></iron-image>
      </div>
      <form id="loginForm" class="form">
        <div class="input-group">
          <input id="username" type="text" class="input"
              placeholder="Email"
              on-keydown="watchEnter" value="{{username::input}}"/>
        </div>
        <div class="input-group suffix">
          <input id="password" type="password" class="input"
              placeholder="Password"
              on-keydown="watchEnter"/>
          <div class="addon-suffix has-button">
            <paper-button class="red" on-click="tooglePassword">[[togglePasswordText]]</paper-button>
          </div>
        </div>
        <div class="form-group">
          <paper-button class="w-100 white" on-tap="signIn">
            <span>LOGIN</span>
          </paper-button>
        </div>
      </form>

      <divider-text line-width="1px" line-color="#FFFFFF">
        <span class="white">Or</span>
      </divider-text>

      <div class="form-control">
        <social-button class="facebook" id="loginFacebook" >
          <iron-icon class="icon" src="/assets/images/facebook.svg"></iron-icon>
          <span>Continue with Facebook</spa>
        </social-button>
      </div>

      <div class="form-control">
        <social-button id="loginGoogle" class="google" on-tap="loginGoogle">
          <iron-icon class="icon" src="/assets/images/google.svg"></iron-icon>
          <span>Continue with Google</spa>
        </social-button>
      </div>


      <div class="flex"></div>

      <div class="white">
        <p>By selecting create account or continue you agree to accept our Privacy Policy &amp; Terms of Use.</p>
      </div>

    </div>
  </template>

  <script>

    class LoginComponents extends GridNavigation(ReduxBehavior(Polymer.Element)) {

      static get is() { return 'login-components'; }

      static get properties() {
        return {

          user: {
            type: Object,
            statePath: 'user'
          },

          loginAttempt: {
            type: Number,
            value: 0,
            notify: true
          },

          loginError: {
            type: String,
            notify: true
          },

          togglePasswordText: {
            type: String,
            value: 'Show'
          },

          isPasswordHidden: {
            type: Boolean,
            value: true
          },

          isLoggingIn: {
            type: Boolean,
            value: false,
            notify: true
          },

          isLoggedIn: {
            type: Boolean,
            notify: true
          },

          username: {
            type: String,
            value: localStorage.getItem('email') || ''
          }

        }
      }

      static get observers() {
        return [
          '_passwordState(isPasswordHidden)'
        ];
      }

      static get actions() {
  			return {

          assignToken(data) {
            return {
              type: 'ASSIGN_TOKEN',
              token: data.access_token,
              user: data.user
            }
          },

          giveAccess(data) {
            return {
              type: 'GIVE_ACCESS',
              token: data.access_token,
              user: data.user
            }
          }
  			};
      }
      
      constructor() {
        super();

        this.fbConnected = true;
        this.googleConnected = true;
      }

      _passwordState(isPasswordHidden) {
        if ( ! isPasswordHidden ) {
          this.togglePasswordText = 'Hide';
          this.$.password.setAttribute('type', 'text');
        } else {
          this.togglePasswordText = 'Show';
          this.$.password.setAttribute('type', 'password');
        }
      }

      tooglePassword() {
        this.isPasswordHidden = !this.isPasswordHidden;
      }

      watchEnter(e) {
        if (e.keyCode === 13) {
					this.signIn();
				}
      }

      signIn() {
        const username = this.$.username;
        const password = this.$.password;
        const self = this;

        self.isLoggingIn = true;
        self.isLoggedIn = false;

        axios.post(API_URL + '/login', {

					email: username.value,
					password: password.value

				}).then( res => {

          self.isLoggingIn = false;
          self.isLoggedIn = true;

          // self.dispatch('assignToken', res.data);
          self.dispatch('giveAccess', res.data);

          self.$.loginForm.reset();

        }).catch( err => {

          self.isLoggingIn = false;
          self.isLoggedIn = false;

          if (err.response) {
						var data = err.response.data;
            var loginAttempt = self.loginAttempt + 1;
            self.loginAttempt = loginAttempt;
            self.loginError = data.message;
            self.$.username.focus();
          }

        });

      }

      loginGoogle() {
        // window.location.href = API_BASE_URL + '/auth/google';
      }

      loadJsAPI(src, callback) {
          let s = document.createElement('script');
          s.type = 'text/javascript';
          s.onerror = this.googleApiError;
          if(callback) { s.onload = callback; }
          let h = document.getElementsByTagName("head")[0];
          h.appendChild(s);
          s.src = src
      }

      connectedCallback() {
        super.connectedCallback();
        const self = this;
        this.loadJsAPI('https://apis.google.com/js/client:platform.js', () => {

          const googleButton = this.$.loginGoogle;

          gapi.load('auth2', () => {

            this.googleConnected = true;

            var auth2 = gapi.auth2.init({
              client_id: '186352805872-hqq59ghhfq4pdf6tttonigp3ipbgmdbb.apps.googleusercontent.com',
              cookiepolicy: 'single_host_origin',
              scope: 'profile'
            });

            auth2.attachClickHandler(googleButton, { ux_mode: 'popup' },
              googleUser => {
                const profile = googleUser.getBasicProfile();

                const data = {
                  id: profile.getId(),
                  name: profile.getName(),
                  email: profile.getEmail()
                };

                this.signInSocial('google', data);

              },
              function(error) {
                console.log('Sign-in error', error);
              }
            );
          });

        });

        this.loadJsAPI('//connect.facebook.net/en_US/sdk.js', () => {

          window.fbAsyncInit = () => {

            FB.init({
              // appId      : '1452554341433601',
              appId      : '1451318644890504',
              cookie     : true,
              xfbml      : true,
              version    : 'v2.8'
            });

            FB.AppEvents.logPageView();

            FB.getLoginStatus( res => {

              const fbButton = this.$.loginFacebook;

              const getInfo = () => {

                FB.api('/me', 'GET', {
                  fields: 'first_name, last_name, email'
                }, res => {

                  const data = {
                    id: res.id,
                    name: res.first_name + ' ' + res.last_name,
                    email: res.email
                  };

                  self.signInSocial('facebook', data);

                });
              };

              if ( res.status === 'connected' ) {
                this.fbConnected = true;
                fbButton.addEventListener('click', () => {
                  getInfo();
                });
              } else {
                fbButton.addEventListener('click', () => {
                  FB.login( res => {
                    if ( res.status === 'connected' ) {
                      getInfo();
                    }
                  }, { scope: 'email' })
                });
              }

            });

          };

        })
      }

      signInSocial(provider, data) {
        this.isLoggingIn = true;
        this.isLoggedIn = false;

        axios.post(API_URL + '/login/' + provider, data)
        .then( res => {
          if( res.data.new_user == 1 ) {

            let user = res.data.user;
            window.localStorage.setItem('social_user', JSON.stringify(user));
            
            this.redirectRegister();

          } else {
            this.dispatch('giveAccess', res.data);
          }
        }).then( () => {
          this.isLoggingIn = false;
          this.isLoggedIn = true;
        }).catch( err => {
          
          this.isLoggingIn = false;
          this.isLoggedIn = false;

          if (err.response) {
            console.log(err.response.data);
            var data = err.response.data;
            var loginAttempt = this.loginAttempt + 1;
            this.loginAttempt = loginAttempt;
            this.loginError = err.response.data.message;
            this.$.username.focus();
          }

        });
      }

    }

    customElements.define(LoginComponents.is, LoginComponents);
	</script>
</dom-module>
