<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-dropdown/iron-dropdown.html">
<link rel="import" href="../../../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../bower_components/paper-ripple/paper-ripple.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/iron-icons/maps-icons.html">
<link rel="import" href="../../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../../redux/grid-redux-store.html">
<link rel="import" href="../grid-styles.html">

<dom-module id="mobile-header">
	<template>
    <style include="grid iron-flex">
      :host {
        background: linear-gradient(180deg, #212121 35.36%, rgba(33, 33, 33, 0) 100%);
        background-blend-mode: darken;
        width: 100%;
        height: 150px;
        position: absolute;
        top: 0;
        left: 0;
      }

			.h1 {
		    font-size: 32px;
		    color: #FFFFFF;
			}

			.date {
				color: #FFFFFF;
				font-size: 12px;
				text-transform: uppercase;
				position: absolute;
				top: 0;
			}

			#location {
				transition: opacity 300ms ease-in-out;
			}

			.inactive {
				opacity: 0.5;
			}

    </style>

    <div class="toolbar">
      <paper-icon-button icon="menu" on-tap="openDrawer" class="red"></paper-icon-button>
      <span class="flex"></span>
      <paper-icon-button id="location" icon="maps:my-location" on-tap="setCurrentLocation" class="red inactive"></paper-icon-button>
			<!-- <paper-icon-button icon="filter-list" slot="dropdown-trigger" class="red" on-tap="openFilters"></paper-icon-button>
			<iron-dropdown id="filters" horizontal-align="right" vertical-align="top">
				<div slot="dropdown-content" class="dropdown-menu">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam amet blanditiis officia. Quo sint consectetur magnam harum eius esse dolores voluptate vitae, rerum velit minima dignissimos! Ducimus rem eligendi id!
					<template is="dom-repeat" items="[[_filters]]" as="filter">
						<div class="item" on-click="filterPosts" hidden$="[[filter.hidden]]">
							<span>[[filter.name]]</span>
							<paper-ripple></paper-ripple>
						</div>
					</template>
				</div>
			</iron-dropdown> -->
			<paper-menu-button horizontal-align="right" vertical-align="top" ignore-select="true">
				<paper-icon-button icon="filter-list" slot="dropdown-trigger" class="red"></paper-icon-button>
				<div slot="dropdown-content" class="dropdown-menu">
					<template is="dom-repeat" items="[[_filters]]" as="filter">
						<!-- <div class="item" on-click="filterPosts" hidden$="[[filter.hidden]]">
							<span>[[filter.name]]</span>
							<paper-ripple></paper-ripple>
						</div> -->
						
					</template>
					<template is="dom-if" if="[[auth]]">
						<div class="item-title">
							<span>Show only</span>
						</div>
						<div class="item">
							<paper-checkbox value="m_p" on-change="filterCheck">My Posts</paper-checkbox>
						</div>
						<div class="item">
							<paper-checkbox value="m_b" on-change="filterCheck">My Bids</paper-checkbox>
						</div>
						<div class="item">
							<paper-checkbox value="m_s" on-change="filterCheck">My Skills</paper-checkbox>
						</div>
					</template>

					<div class="item-title">
						<span>View</span>
					</div>
					<div class="item">
						<paper-checkbox value="p" on-change="updateView">Price</paper-checkbox>
					</div>
					<div class="item">
						<paper-checkbox value="t" on-change="updateView">Time remaining</paper-checkbox>
					</div>

				</div>
			</paper-menu-button>
    </div>
    <app-toolbar>
			<span class="date">[[today]]</span>
      <div main-title class="h1">The Grid</div>
    </app-toolbar>
	</template>

  <script>



    class MobileHeader extends ReduxBehavior(Polymer.Element) {
      static get is() { return 'mobile-header'; }

			static get properties() {
				return {

					locationTimeout: {
						type: Number,
						value: 10000
					},

					user: {
            type: Object,
            statePath: 'user'
					},
					
					today: {
						type: String,
						value: function() {
							return moment().format("dddd, MMMM D");
						}
					},

					auth: {
						type: Boolean,
						statePath: 'auth'
					},

					_filters: {
						type: Array,
						value: function() {
							return [
								
							];
						}
					},

					visiblePins: {
						type: Array,
						value: []
					},

					markerView: {
						type: Array,
						value: []
					}
				}
			}

			static get observers() {
				return [
					'_gmap(gmap)',
					'_auth(auth)',
					// '_visiblePinsChange(visiblePins)'
				];
			}

			filterCheck(e) {
				const gmap = this.gmap;
				const target = e.target;

				if( target.checked ) {
					this.push('visiblePins', target.value);
				} else {
					const index = this.visiblePins.indexOf(target.value);
					if(index != -1) {
						this.visiblePins.splice(index, 1);
					}
				}

				if(this.visiblePins.length == 0) {
					gmap.markers.forEach( marker => {
						marker.setVisible(true);
					});
					gmap.markerClusterer.repaint();
					return;
				}

				gmap.markers.forEach( marker => {
					marker.setVisible(false);
				});

				this.visiblePins.forEach( v => {

					console.log(v);

					if(v == 'm_p') {
						gmap.markers.forEach( marker => {
							if(marker.isMyPost){
								marker.setVisible(true);
							}
						});
					}

					if(v == 'm_b') {
						gmap.markers.forEach( marker => {
							if(marker.isBidded){
								marker.setVisible(true);
							}
						});
					}

				});

				

				gmap.markerClusterer.repaint();
			}

			_visiblePinsChange(visiblePins) {
				console.log(visiblePins);
			}

			setFilters() {
				let _filters = [
					{
						name: 'All Posts',
						value: 0,
						hidden: false
					},
					{
						name: 'Services',
						value: 1,
						hidden: false
					},
					{
						name: 'Products',
						value: 2,
						hidden: false
					},
					{
						name: 'My Posts',
						value: 'm_p',
						hidden: !this.auth
					},
					{
						name: 'My Bids',
						value: 'm_b',
						hidden: !this.auth
					}
				];

				this.set('_filters', _filters);
			}

			connectedCallback() {
				super.connectedCallback();

				this.setFilters();
			}

      openDrawer() {
				window.dispatchEvent(new CustomEvent('open-drawer'));
      }

			setMarker(latLng, center) {

				if(this.marker) {
					this.marker.setMap(null);
					this.marker = null;;
				}

				//creating the class to exntend the google map OverlayView class
				function MapLocationIcon(latlng) {
					this.pos = latlng;
					this.height = 16;
					this.width = 16;
					this.icon = window.location.origin + '/assets/images/currentlocation.png';
				}

				//make a copy of the OverlayView to extend it
				MapLocationIcon.prototype = new google.maps.OverlayView();
				MapLocationIcon.prototype.onRemove = function () { }

				//prepare the overlay with DOM
				MapLocationIcon.prototype.onAdd = function () {
					var div = document.createElement('DIV');
					div.id = 'loc';
					div.style.backgroundColor = 'transparent';
					div.style.backgroundImage = 'url(' + this.icon + ')';
					div.style.backgroundPosition = 'center center';
					
					div.style.position = 'absolute';
					div.style.width = this.width + 'px';
					div.style.height = this.height + 'px';

					this.div = div;
					var panes = this.getPanes();
					panes.overlayImage.appendChild(this.div);
				}

				//set position
				MapLocationIcon.prototype.draw = function () {
					var overlayProjection = this.getProjection();
					var position = overlayProjection.fromLatLngToDivPixel(this.pos);
					var panes = this.getPanes();
					panes.overlayImage.style.left = (position.x - parseInt(this.width / 2, 10)) + 'px';
					panes.overlayImage.style.top = (position.y - parseInt(this.height, 10)) + 'px';
					panes.overlayImage.style.zIndex = 999999;
				}

				//to use it
				this.marker = new MapLocationIcon(latLng);
				this.marker.setMap(this.map);
				
				if(center)
					this.gmap.map.setCenter(latLng);

				this.shadowRoot.querySelector('#location').classList.remove('inactive');
			}

			getCurrentLocation() {
				const self = this;
				
				if (navigator.geolocation) {
					var blink = 0;
					var locationAvtivating = setInterval( () => {
						if(!this.marker) {
							if( blink == 0 ) {
								this.shadowRoot.querySelector('#location').classList.add('inactive');
								blink = 1;
							} else {
								this.shadowRoot.querySelector('#location').classList.remove('inactive');
								blink = 0;
							}
						}
					}, 500);
          navigator.geolocation.watchPosition( function(position) {
						self.currentLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude)
						clearInterval(locationAvtivating);
						self.setMarker(self.currentLocation, !self.marker);
						
          });
        }
			}

      setCurrentLocation() {
				if(this.currentLocation) {
					this.setMarker(this.currentLocation, true);
				} else {
					this.getCurrentLocation();
				}
				
      }

			openFilters() {
				this.$.filters.open();
			}

			updateView(e) {
				const gmap = this.gmap;
				const target = e.target;

				if(target.checked) {
					this.push('markerView', target.value);
				} else {
					const index = this.markerView.indexOf(target.value);
					if(index != -1) {
						this.markerView.splice(index, 1);
					}
				}

				if(this.markerView.length == 0) {
					gmap.markers.forEach( marker => {
						marker.set('label', null);
					});
					return;
				}

				gmap.markers.forEach( marker => {
					var labelContent = [];

					this.markerView.forEach( v => {
						if( v == 'p') {
							labelContent.push(marker.price);
						}
						if( v == 't') {
							labelContent.push(moment(marker.date).fromNow()); 
						}
					});

					var label =  {
						text: labelContent.join(',\r\n '),
						color: '#FFFFFF',
						fontSize: '12px',
						fontWeight: 'bold',
						y: 10
					}
					marker.set('label', label);
				});
				
			}

			filterPosts(e) {
				const filter = e.model.filter;
				const gmap = this.gmap;

				const showAllPosts = () => {
					gmap.markers.forEach( marker => {
						marker.setVisible(true);
					});
				};

				const showMyPosts = () => {
					gmap.markers.forEach( marker => {
						marker.setVisible(marker.isMyPost);
					});
				};

				const showMyBids = () => {
					gmap.markers.forEach( marker => {
						marker.setVisible(marker.isBidded);
					});
				};
				
				const filterByCategory = () => {
					gmap.markers.forEach( marker => {
						marker.setVisible(false);
						if(marker.category == filter.value) {
							marker.setVisible(true);
						}
					});
				};

				switch(filter.value) {
					case 0: {
						showAllPosts();
						break;
					}
					case 'm_p': {
						showMyPosts();
						break;
					}
					case 'm_b': {
						showMyBids();
						break;
					}
					default: {
						filterByCategory()
						break;
					}
				}

				gmap.markerClusterer.repaint();

			}

			_gmap(gmap) {
				if(gmap) {
					this.markers = gmap.markers;
				}
			}
			_auth(auth) {
				this.setFilters();
			}

    }

    customElements.define(MobileHeader.is, MobileHeader);
  </script>
</dom-module>
