<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/iron-icons/maps-icons.html">
<link rel="import" href="/bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="/redux/grid-redux-store.html">
<link rel="import" href="/elements/thegrid/grid-styles.html">

<dom-module id="mobile-header">
	<template>
    <style include="grid iron-flex">
      :host {
        background: linear-gradient(180deg, #212121 35.36%, rgba(33, 33, 33, 0) 100%);
        background-blend-mode: darken;
        width: 100%;
        height: 150px;
        position: absolute;
        top: 0;
        left: 0;
      }

			.h1 {
		    font-size: 32px;
		    color: #FFFFFF;
			}

			.date {
				color: #FFFFFF;
				font-size: 12px;
				text-transform: uppercase;
				position: absolute;
				top: 0;
			}

    </style>

    <div class="toolbar">
      <paper-icon-button icon="menu" on-tap="openDrawer" class="red"></paper-icon-button>
      <span class="flex"></span>
      <paper-icon-button icon="maps:my-location" on-tap="setCurrentLocation" class="red"></paper-icon-button>
      <paper-icon-button icon="filter-list" class="red"></paper-icon-button>
    </div>
    <app-toolbar>
			<span class="date">[[today]]</span>
      <div main-title class="h1">The Grid</div>
    </app-toolbar>
	</template>

  <script>

    class MobileHeader extends ReduxBehavior(Polymer.Element) {
      static get is() { return 'mobile-header'; }

			static get properties() {
				return {
					locationTimeout: {
						type: Number,
						value: 10000
					},
					today: {
						type: String,
						value: function() {
							return moment().format("dddd, MMMM D");
						}
					}
				}
			}

			connectedCallback() {
				super.connectedCallback();
			}

      openDrawer() {
				window.dispatchEvent(new CustomEvent('open-drawer'));
      }

			setMarker(options) {
				if(this.marker) {
					this.marker.setMap(null);
				}
				this.marker = new google.maps.Marker(options);
				this.map.setCenter(options.position);
			}

      setCurrentLocation() {
				const self = this;

				var options = {
					map: self.map,
					icon: window.location.origin + '/assets/images/currentlocation.png',
					zIndex: 9999999999999,
					optimized: false,
				};

				if(self.currentLocation) {
					options.position = self.currentLocation;
					self.setMarker(options);
					return;
				}
				if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
							self.currentLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude)
							options.position = self.currentLocation;
							self.setMarker(options);
							setTimeout( () => {
								self.currentLocation = null;
							}, self.locationTimeout );
          })
        }
      }

    }

    customElements.define(MobileHeader.is, MobileHeader);
  </script>
</dom-module>
