<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-dropdown/iron-dropdown.html">
<link rel="import" href="../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../bower_components/paper-ripple/paper-ripple.html">
<link rel="import" href="../../../bower_components/paper-item/paper-item-body.html">
<link rel="import" href="../../../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../bower_components/paper-ripple/paper-ripple.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/iron-icons/maps-icons.html">
<link rel="import" href="../../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../../redux/grid-redux-store.html?v=1.0.19">
<link rel="import" href="../grid-styles.html?v=1.0.19">

<dom-module id="mobile-header">
	<template>
    <style include="grid iron-flex">
      :host {
        background: linear-gradient(180deg, #212121 35.36%, rgba(33, 33, 33, 0) 100%);
        background-blend-mode: darken;
        width: 100%;
        height: 130px;
				max-height: 100%;
        position: absolute;
        top: 0;
        left: 0;
				display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
         -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
				transition: height 150ms cubic-bezier(0,0,0.31,1);
				overflow: hidden;
      }

			.h1 {
		    font-size: 32px;
		    color: #FFFFFF;
			}

			.date {
				color: #FFFFFF;
				font-size: 12px;
				text-transform: uppercase;
				position: absolute;
				top: 0;
			}

			#location {
				transition: opacity 300ms ease-in-out;
			}

			.inactive {
				opacity: 0.5;
			}

			.notif-wrapper {
				/* background: #ffffff; */
				height: 20px;
				min-height: 20px;
				position: relative;
			}

			#puller {
				text-align: center;
				height: 20px;
				width: 100%;
				position: absolute;
				bottom: 0;
			}
			#title {
				height: 44px;
			}

			.badge.unread {
        background: var(--red);
				width: 8px;
				height: 8px;
				display: inline-block;
				border-radius: 50%;
				position: absolute;
				top: 7px;
				right: 3px;
      }

			.menu {
				display: inline-block;
				position: relative;
			}

    </style>

    <div class="toolbar">
			<span class="menu">
				<paper-icon-button icon="menu" on-tap="openDrawer" class="red"></paper-icon-button>
				<template is="dom-if" if="[[_hasNotif]]">
					<span class="badge unread"></span>
				</template>
			</span>
      <span class="flex"></span>
			<paper-icon-button id="location" icon="maps:my-location" on-tap="setCurrentLocation" class="red inactive"></paper-icon-button>
			<paper-icon-button icon="filter-list" class="red" on-tap="openFilter"></paper-icon-button>
			<!--<paper-menu-button horizontal-align="right" vertical-align="top" ignore-select="true">
				<paper-icon-button icon="filter-list" slot="dropdown-trigger" class="red"></paper-icon-button>
				<div slot="dropdown-content" class="dropdown-menu">
					<template is="dom-if" if="[[auth]]">
						<div class="item-title">
							<span>Show only</span>
						</div>
						<div class="item">
							<paper-checkbox value="m_p" on-change="filterCheck">My Posts</paper-checkbox>
						</div>
						<div class="item">
							<paper-checkbox value="m_b" on-change="filterCheck">My Bids</paper-checkbox>
						</div>
					</template>

					<div class="item-title">
						<span>View</span>
					</div>
					<div class="item">
						<paper-checkbox value="p" on-change="updateView">Price</paper-checkbox>
					</div>
					<div class="item">
						<paper-checkbox value="t" on-change="updateView">Time remaining</paper-checkbox>
					</div>

				</div>
			</paper-menu-button>-->
		</div>
		<div id="title" class="puller">
			<app-toolbar>
				<span class="date">[[today]]</span>
				<div main-title class="h1">[[mainTitle]]</div>
			</app-toolbar>
		</div>
		<div class="flex notif-wrapper">
			<div role="list" class="white p-x-1">
				<template is="dom-repeat" items="[[fNotifications]]" as="notif" sort="_sortByUpdatedAt">
					<paper-item on-click="viewNotification">
						<paper-item-body two-line>
							<div>[[notif.data.title]]</div>
							<div secondary>[[_fromNow(notif.created_at)]]</div>
							<paper-ripple></paper-ripple>
						</paper-item-body>
					</paper-item>
				</template>
			</div>
			<div id="puller">
				<iron-icon id="toggleIcon" icon="expand-more" class="pointer red" on-click="toggleNotification"></iron-icon>
			</div>
		</div>

		<paper-dialog id="locationDeniedDialog" class="dialog-dark" style="max-width: 500px;">
			<h2>Location Permision</h2>
			<div>
				<p>
					This app requires your location permission in order to give you your most accurate location on map.
					If you wish to give access this app for your location, you can turn it on by going to browser <strong>Settings</strong> > <strong>Site Settings</strong> > <strong>Location</strong> then allow this website.
				</p>
			</div>
			<div class="buttons">
				<paper-button dialog-dismiss>Close</paper-button>
			</div>
		</paper-dialog>
	</template>

  <script>



    class MobileHeader extends 
			GridNavigation(
				ReduxAsyncActionBehavior(
					ReduxBehavior(Polymer.Element))) {
      static get is() { return 'mobile-header'; }

			static get properties() {
				return {

					locationTimeout: {
						type: Number,
						value: 10000
					},

					user: {
            type: Object,
            statePath: 'user'
					},

					notifications: {
						type: Array,
						statePath: 'notifications'
					},

					fNotifications: {
						type: Array,
						value: []
					},
					
					today: {
						type: String,
						value: function() {
							return moment().format("dddd, MMMM D");
						}
					},

					auth: {
						type: Boolean,
						statePath: 'auth'
					},

					mainTitle: {
						type: String,
						value: 'The Grid'
					},

					_filters: {
						type: Array,
						value: function() {
							return [
								
							];
						}
					},

					visiblePins: {
						type: Array,
						value: []
					},

					markerView: {
						type: Array,
						value: []
					},

					expanded: {
						type: Boolean,
						value: false
					},

					permissionLocation: {
						type: Boolean,
						observer: '_permissionLocationChange'
					}
				}
			}

			static get observers() {
				return [
					'_gmap(map)',
					'_auth(auth)',
					// '_visiblePinsChange(visiblePins)'
					'_expandedChange(expanded)',
					'_notificationsChange(notifications)',
					'_userChange(user)'
				];
			}

			constructor() {
				super();

				this._hasNotif = false;

				window.addEventListener('app:drawer_open', () => {
					this._hasNotif = false;
				});
			}

			filterCheck(e) {
				const gmap = this.gmap;
				const target = e.target;

				if( target.checked ) {
					this.push('visiblePins', target.value);
				} else {
					const index = this.visiblePins.indexOf(target.value);
					if(index != -1) {
						this.visiblePins.splice(index, 1);
					}
				}

				if(this.visiblePins.length == 0) {
					gmap.markers.forEach( marker => {
						marker.setVisible(true);
					});
					gmap.markerClusterer.repaint();
					return;
				}

				gmap.markers.forEach( marker => {
					marker.setVisible(false);
				});

				this.visiblePins.forEach( v => {

					console.log(v);

					if(v == 'm_p') {
						gmap.markers.forEach( marker => {
							if(marker.isMyPost){
								marker.setVisible(true);
							}
						});
					}

					if(v == 'm_b') {
						gmap.markers.forEach( marker => {
							if(marker.isBidded){
								marker.setVisible(true);
							}
						});
					}

				});

				

				gmap.markerClusterer.repaint();
			}

			_userChange(user){
				if(!user) return;
				

				if(user.unread_messages_count) {
					this._hasNotif = true;
				}
			}

			_visiblePinsChange(visiblePins) {
				console.log(visiblePins);
			}

			setFilters() {
				let _filters = [
					{
						name: 'All Posts',
						value: 0,
						hidden: false
					},
					{
						name: 'Services',
						value: 1,
						hidden: false
					},
					{
						name: 'Products',
						value: 2,
						hidden: false
					},
					{
						name: 'My Posts',
						value: 'm_p',
						hidden: !this.auth
					},
					{
						name: 'My Bids',
						value: 'm_b',
						hidden: !this.auth
					}
				];

				this.set('_filters', _filters);
			}

			connectedCallback() {
				super.connectedCallback();

				this.setFilters();

				this.setNotificationEvents();

				window.addEventListener('map:current_location_in_bounds', () => {
					this.shadowRoot.querySelector('#location').classList.remove('inactive');
				});

				window.addEventListener('map:current_location_out_bounds', () => {
					this.shadowRoot.querySelector('#location').classList.add('inactive');
				});
      
			}

			setNotificationEvents() {
				const notif_bar = this.shadowRoot.querySelector('.notif-wrapper');
				const puller = this.shadowRoot.querySelector('#puller');
				const self = this;
				const original_height = 130;

				let startY = 0;
				let currentY = 0;
				let draggingY = 0;
				let isDragging = false;
				let targetY = 0;
				let open = false;
				let height = original_height;
				

				const update = function() {

					if(draggingY > 0) {
						if(!isDragging) {
							height += (targetY - height) / 4;
							self.style.transitionDuration = '200ms';
						} else {
							height = original_height + (currentY - startY);
							self.style.transitionDuration = '0ms';
						}
					} else if(draggingY < 0){
						if(isDragging) {
							height = window.outerHeight - Math.abs(draggingY);
							self.style.transitionDuration = '0ms';
						} else {
							height += (targetY - height) / 4;
							self.style.transitionDuration = '200ms';
						}
					}

					self.style.height = `${height}px`;

					if(!isDragging) {
						if(height <= original_height || height >= window.outerHeight) {
							draggingY = 0;
							startY = 0;
							currentY = 0;
						}
					}

					if(height >= window.outerHeight) {
						self.expanded = true;
					} else if(height <= original_height) {
						self.expanded = false;
					}
					
					requestAnimationFrame(update);
				};
				
				const handleStart = function(e) {
					startY = e.pageY || e.touches[0].clientY;
					draggingY = 0;
					self.style.willChange = 'height';
					isDragging = true;
					requestAnimationFrame(update);
					e.preventDefault();
				};

				const handleMove = function(e) {
					currentY = e.pageY || e.touches[0].clientY;
					draggingY = currentY - startY;
					e.preventDefault();
				}

				const handleEnd = function(e) {
					draggingY = currentY - startY;

					isDragging = false;
					targetY = original_height;

					const treshold = (window.outerHeight - 130) * 0.35;
					
					if(Math.abs(draggingY) > treshold) {
						targetY = (draggingY > 0) ? window.outerHeight : original_height;
					}

					e.preventDefault();
				};


				// this.shadowRoot.querySelectorAll('.puller').forEach(item => {
				// 	item.addEventListener('touchstart', handleStart, false);
				// 	item.addEventListener('touchmove', handleMove, false);
				// 	item.addEventListener('touchend', handleEnd, false);
				// });



				// notif_bar.addEventListener('touchstart', handleStart, false);
				// notif_bar.addEventListener('touchmove', handleMove, false);
				// notif_bar.addEventListener('touchend', handleEnd, false);
				// notif_bar.addEventListener('mousedown', handleStart, false);
				// notif_bar.addEventListener('mousemove', handleMove, false);
				// notif_bar.addEventListener('mouseup', handleEnd, false);

			}

			toggleNotification(e) {
				const puller = this.shadowRoot.querySelector('#puller');
				if(this.expanded) {
					this.style.height = '130px';
					puller.style.bottom = 0;
					e.target.icon = 'expand-more';
				} else {
					this.style.height = `${window.outerHeight}px`;
					puller.style.bottom = '20px';
					e.target.icon = 'expand-less';
				}
				this.expanded = !this.expanded;
			}

      openDrawer() {
				// this._hasNotif = false;
				window.dispatchEvent(new CustomEvent('open-drawer'));
			}
			
			openFilter(e) {
				this.redirect('/filter');
				// const b = e.target.getBoundingClientRect();
				// let top = b.top + 28;
				// let left = b.left + 28;
				// this.style.clipPath = `circle(28px at ${left}px ${top}px)`;
			}

			setMarker(latLng, center) {

				if(this.marker) {
					this.marker.setMap(null);
					this.marker = null;;
				}

				//creating the class to exntend the google map OverlayView class
				function MapLocationIcon(latlng) {
					this.pos = latlng;
					this.height = 16;
					this.width = 16;
					this.icon = window.location.origin + '/assets/images/currentlocation.png';
				}

				//make a copy of the OverlayView to extend it
				MapLocationIcon.prototype = new google.maps.OverlayView();
				MapLocationIcon.prototype.onRemove = function () { }

				//prepare the overlay with DOM
				MapLocationIcon.prototype.onAdd = function () {
					var div = document.createElement('DIV');
					div.id = 'loc';
					div.style.backgroundColor = 'transparent';
					div.style.backgroundImage = 'url(' + this.icon + ')';
					div.style.backgroundPosition = 'center center';
					
					div.style.position = 'absolute';
					div.style.width = this.width + 'px';
					div.style.height = this.height + 'px';

					this.div = div;
					var panes = this.getPanes();
					panes.overlayImage.appendChild(this.div);
				}

				//set position
				MapLocationIcon.prototype.draw = function () {
					var overlayProjection = this.getProjection();
					var position = overlayProjection.fromLatLngToDivPixel(this.pos);
					var panes = this.getPanes();
					panes.overlayImage.style.left = (position.x - parseInt(this.width / 2, 10)) + 'px';
					panes.overlayImage.style.top = (position.y - parseInt(this.height, 10)) + 'px';
					panes.overlayImage.style.zIndex = 999999;
				}

				//to use it
				this.marker = new MapLocationIcon(latLng);
				this.marker.setMap(this.gmap.map);
				
				if(center) {
					this.gmap.map.setCenter(latLng);
					this.gmap.map.setZoom(14);
				}

				this.shadowRoot.querySelector('#location').classList.remove('inactive');

				this.saveCurrentLocation(latLng);
			}

			getCurrentLocation() {
				if(!this.permissionLocation) {
					this.shadowRoot.querySelector('#locationDeniedDialog').open();
					return;
				}

				const self = this;
				
				if (navigator.geolocation) {
					var blink = 0;
					var locationAvtivating = setInterval( () => {
						if(!this.marker) {
							if( blink == 0 ) {
								this.shadowRoot.querySelector('#location').classList.add('inactive');
								blink = 1;
							} else {
								this.shadowRoot.querySelector('#location').classList.remove('inactive');
								blink = 0;
							}
						}
					}, 500);
          navigator.geolocation.watchPosition( function(position) {
						self.gmap.currentLocation = {
							lat: position.coords.latitude,
							lng: position.coords.longitude,
							latLng: new google.maps.LatLng(position.coords.latitude, position.coords.longitude)
						};
						// self.currentLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude)
						clearInterval(locationAvtivating);
						self.setMarker(self.gmap.currentLocation.latLng, !self.marker);
						
						if(window.OneSignal) {
							OneSignal.sendTag("lat", position.coords.latitude);
							OneSignal.sendTag("lng", position.coords.longitude);
						}
          });
        }
			}

      setCurrentLocation() {
				if(!this.gmap) return;
				if(this.gmap.currentLocation) {
					this.setMarker(this.gmap.currentLocation.latLng, true);
				}
				this.getCurrentLocation();
			}
			
			saveCurrentLocation(pos) {
				if(window.localStorage) {
					localStorage.setItem('last_location', JSON.stringify({ lat: pos.lat(), lng: pos.lng()}));
				}
			}

			openFilters() {
				this.$.filters.open();
			}

			updateView(e) {
				const gmap = this.gmap;
				const target = e.target;

				if(target.checked) {
					this.push('markerView', target.value);
				} else {
					const index = this.markerView.indexOf(target.value);
					if(index != -1) {
						this.markerView.splice(index, 1);
					}
				}

				if(this.markerView.length == 0) {
					gmap.markers.forEach( marker => {
						marker.set('label', null);
					});
					return;
				}

				gmap.markers.forEach( marker => {
					var labelContent = [];

					this.markerView.forEach( v => {
						if( v == 'p') {
							labelContent.push(marker.price);
						}
						if( v == 't') {
							labelContent.push(moment(marker.date).fromNow()); 
						}
					});

					var label =  {
						text: labelContent.join(',\r\n '),
						color: '#FFFFFF',
						fontSize: '12px',
						fontWeight: 'bold',
						y: 10
					}
					marker.set('label', label);
				});
				
			}

			filterPosts(e) {
				const filter = e.model.filter;
				const gmap = this.gmap;

				const showAllPosts = () => {
					gmap.markers.forEach( marker => {
						marker.setVisible(true);
					});
				};

				const showMyPosts = () => {
					gmap.markers.forEach( marker => {
						marker.setVisible(marker.isMyPost);
					});
				};

				const showMyBids = () => {
					gmap.markers.forEach( marker => {
						marker.setVisible(marker.isBidded);
					});
				};
				
				const filterByCategory = () => {
					gmap.markers.forEach( marker => {
						marker.setVisible(false);
						if(marker.category == filter.value) {
							marker.setVisible(true);
						}
					});
				};

				switch(filter.value) {
					case 0: {
						showAllPosts();
						break;
					}
					case 'm_p': {
						showMyPosts();
						break;
					}
					case 'm_b': {
						showMyBids();
						break;
					}
					default: {
						filterByCategory()
						break;
					}
				}

				gmap.markerClusterer.repaint();

			}

			viewNotification(e) {
				const notif = e.model.notif;

				if(!notif) return;

				switch (notif.type) {
					case 'App\\Notifications\\BidToPost' : {
						this.redirect(`/posts/${notif.data.job_id}`);
						this.readNotif(notif.id);
						break;
					}
					case 'App\\Notifications\\AwardBid' : {
						this.redirect(`/bids/${notif.data.bid_id}`);
						this.readNotif(notif.id);
						break;
					}
					case 'App\\Notifications\\MarkPostInProgress' : {
						this.redirect(`/bids/${notif.data.bid_id}`);
						this.readNotif(notif.id);
						break;
					}
					case 'App\\Notifications\\MarkPostReview' : {
						this.redirect(`/bids/${notif.data.bid_id}`);
						this.readNotif(notif.id);
						break;
					}
					case 'App\\Notifications\\MarkPostComplete' : {
						this.redirect(`/bids/${notif.data.bid_id}`);
						this.readNotif(notif.id);
						break;
					}
				}
			}

			getNotifications() {
				gAxios.get(`/users/${this.user.id}/notifications`)
				.then( res => {
					this.dispatch('setNotifications', res.data);
				});
			}

			readNotif(id) {
				gAxios.post(`/users/${this.user.id}/notifications/read`, {
					id: id
				}).then( res => {
					//console.log(res.data);
					this.dispatch('setNotifications', res.data);
				});
			}
			_notificationsChange(notifications) {
				if(notifications) {
					//fNotifications
					let _notifs = []
					for (var [key, value] of Object.entries(notifications)) {
							// console.log(key + ' ' + value); // "a 5", "b 7", "c 9"
							
							if(value[0]) {
								_notifs.push(value[0]);
							}
					}
					if(_notifs.length) {
						this._hasNotif = true;
					}
					this.set('fNotifications', _notifs);
				} else {
					this.set('fNotifications', []);
				}
			}

			handleLocationPermission() {
        const geoSettings = {
          enableHighAccuracy: true,
          timeout: 5000,
          maximumAge: 0
        };

        const handleResult = result => {
          if (result.state == 'granted') {
            this.permissionLocation = true;
          } else if (result.state == 'prompt') {
            navigator.geolocation.getCurrentPosition( 
              () => { 
								this.permissionLocation = true;
							}, 
              () => { 
								this.permissionLocation = false;
							}, geoSettings);
          } else if (result.state == 'denied') {
						this.permissionLocation = false;
          }
        };

        navigator.permissions.query({name:'geolocation'}).then( result => {
          handleResult(result);
          result.onchange = () => {
            // handleResult(result);
            // window.location.reload();
          }
        });
			}
			
			_permissionLocationChange(permission) {
				if(permission == undefined) return;
				if(permission) {
					this.setCurrentLocation();
				} else {
					this.shadowRoot.querySelector('#locationDeniedDialog').open();
				}
			}

			_gmap(map) {
				if(map) {
					this.handleLocationPermission();
				}
			}
			_auth(auth) {
				this.setFilters();
			}

			_fromNow(date) {
        return moment(date).fromNow();
			}
			
			_sortByUpdatedAt(a, b) {
				a = new Date(a.created_at);
				b = new Date(b.created_at);
				return b < a ? -1 : b > a ? 1 : 0;
			}

			_expandedChange(expanded) {
				this.mainTitle = (expanded) ? 'Recents' : 'The Grid';
			}

    }

    customElements.define(MobileHeader.is, MobileHeader);
  </script>
</dom-module>
