<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../behaviors/form-slider-behavior.html?v=1.2.4.1">
<link rel="import" href="../grid-styles.html?v=1.2.4.1">

<dom-module id="register-components">
  <template>
    <style include="grid iron-flex">

      :host {
        display: block;
      }

      .logo-container {
        width: 200px;
        height: 48px;
        margin: 20px auto;
        background: transparent;
      }

      .input-action {
        color: #FF3B30;
        cursor: pointer;
        user-select: none;
        padding: 0 8px;
      }

    </style>

    <div class="p-y-1">

      <div class="header-text-container">
        <h1 class="header-text m-0">
          <span hidden$="[[step.message]]">[[step.question]]</span>
          <span hidden$="[[!step.message]]">[[step.message]]</span>
        </h1>
      </div>
      <div id="wr" class="wr">
        <form class="form" id="formCarousel" form-carousel>

          <div class="form-group relative"
              data-step="1"
              data-question="What is your name?">
            <input id="name" type="text" class="form-input" autofocus
                autocomplete="off"
                placeholder="Full Name"
                value="{{name::input}}"
                data-validate="required"
                data-message-required="Your name is required." />
          </div>

          <div class="input-group suffix" data-step="2" data-question="Hello %name. Your Email?">
            <input id="email" name="email" type="text" class="input"
                autocomplete="off"
                on-keyup="checkEmailInput"
                placeholder="Email"
                value="{{email::input}}"
                data-validate="required|email"
                data-message-required="Your email is required."
                data-message-email="That email is invalid."/>
            <div class="addon-suffix">
              <div hidden$="[[!showEmailProvider]]">
                  <div class="flex layout horizontal">
                    <span class="input-action" on-click="gmail">Gmail</span>
                    <span class="input-action" on-click="outlook">Outlook</span>
                    <span class="input-action" on-click="icloud">iCloud</span>
                  </div>
                </div>
            </div>
          </div>

          <div class="input-group prefix" data-step="3" data-question="Phone Number">
            <div class="addon-prefix flex layout horizontal">
              <span>AE +971</span>
            </div>
            <input id="phone_number" type="text" class="input"
                autocomplete="off"
                placeholder="Phone Number"
                value="{{phone_number::input}}"
                data-validate="required|number"
                data-message-required="Your phone number is required."
                data-message-number="Your phone number is invalid." />
          </div>

          <div class="input-group suffix" data-step="4" data-question="Create Password. A strong one.">
            <input id="password" type="password" class="input"
                autocomplete="off"
                placeholder="Password"
                value="{{password::input}}"
                data-validate="required"
                data-message-required="Your password is required." />
            <div class="addon-suffix">
                <span id="passwordToggler" class="input-action" on-click="tooglePassword">[[togglePasswordText]]</span>
            </div>
          </div>

          <!-- <div class="input-group" data-step="5" data-question="One more time!">
            <input id="password_confirmation" type="password" class="form-input"
                autocomplete="off"
                placeholder="Retype Password"
                value="{{password_confirmation::input}}"
                data-validate="required|match"
                data-match-to$="[[password]]"
                data-message-required="Please confirm your password."
                data-message-match="Password did not match." />
          </div> -->

          <div class="input-group" data-step="5" data-question="Your Gender?">
            <select id="gender" class="input"
                data-validate="required"
                data-message-required="Gender is required.">
              <option value="">--Please select--</option>
              <option value="0">Male</option>
              <option value="1">Female</option>
            </select>
          </div>

          <div class="input-group" data-step="6" data-question="When is your birthday?">
            <input id="birth_date" type="date" class="input"
                max="[[_today()]]"
                autocomplete="off"
                placeholder="MM//DD/YYYY"
                value="{{birth_date::input}}"
                data-validate="required"
                data-message-required="Birthdate is required." />
          </div>

          <div class="input-group" data-step="7" data-question="Pick your Username.">
            <input id="username" type="text" class="input"
                on-keyup="showNext"
                autocomplete="off"
                placeholder="User name"
                value="{{username::input}}"
                data-validate="required"
                data-message-required="Username is required." />
          </div>

          <!-- <div class="form-group">
            <paper-button class="w-100 white" on-click="signUp">
              <span hidden$="[[isSigningUp]]">Sign Up</span>
              <span hidden$="[[!isSigningUp]]">Loading...</span>
            </paper-button>
          </div> -->

        </form>
      </div>
    </div>
  </template>

  <script>

    class RegisterComponents extends FormSliderBehavior(ReduxBehavior(Polymer.Element)) {

      static get is() { return 'register-components'; }

      static get properties() {
        return {

          togglePasswordText: {
            type: String,
            value: 'Show'
          },

          isPasswordHidden: {
            type: Boolean,
            value: true
          },

          isSigningUp: {
            type: Boolean,
            value: false
          },

          isRegistered: {
            type: Boolean,
            value: false,
            notify: true
          },

          signUpData: {
            type: Object,
            value: {
              message: null
            },
            notify: true
          },

          hasErrorRegister: {
            type: Boolean,
            value: false,
            notify: true
          },

          next: {
            type: Boolean,
            value: false,
            notify: true
          },

          submiting: {
            type: Boolean,
            notify: true
          },

          showEmailProvider: {
            type: Boolean,
            value: false
          }
        }
      }

      static get observers() {
        return [
          '_passwordState(isPasswordHidden)',
          '_submitingChange(submiting)'
        ];
      }

      static get actions() {
  			return {

          giveAccess(data) {
            return {
              type: 'GIVE_ACCESS',
              token: data.access_token,
              user: data.user
            }
          }

  			};
  		}

      constructor() {
        super();
        this.fc = null;
        this.wr = null;
      }

      connectedCallback() {
        super.connectedCallback();
        this.passwordToggler = this.$.passwordToggler;

        // IDEA: This came from FormSliderBahavior
        this.initForm();
        // IDEA: Initialize some properties
        this.set('step.message', 'The Grid Registration');
      }

      signUp() {
        const self = this;
        self.isSigningUp = true;
        axios.post(API_URL + '/users/register', {

          name: self.name,
          username: self.username,
          email: self.email,
          password: self.password,
          gender: self.$.gender.value,
          birth_date: self.birth_date,
          // password_confirmation: self.password_confirmation,
          phone_number: self.phone_number

        }).then( res => {

          self.set('signUpData.message', 'Successfully Registered!');
          self.isSigningUp = false;
          self.isRegistered = true;
          self.arrangeSteps(1);
          self.set('step.message', 'Successfully Registered!');
          self.fc.reset();
          self.submiting = false;

          localStorage.setItem('user_id', res.data.user.id);
          localStorage.setItem('email', res.data.user.email);

          self.dispatch('giveAccess', res.data);

        }).catch( err => {

          if( err.response ) {
            self.set('signUpData', err.response.data);
            // self.hasErrorRegister = true;
            var errs = [];
            var fkey = null;
			    	for( var key in this.signUpData) {
			    		errs.push(this.signUpData[key]);
              if(!fkey) {
                fkey = key;
              }
			    	}
            self.set('step.message', this.signUpData[fkey][0]);
            let s = self.fc.querySelector('#'+fkey).parentNode.getAttribute('data-step');
            self.arrangeSteps(s);
            self.submiting = false;
          }
          self.isSigningUp = false;
        });
      }

      checkEmailInput(e) {
        if(!this.email) return;
        if(this.email.indexOf('@') > -1) {
          this.showEmailProvider = true;
        }
      }

      tooglePassword() {
        this.isPasswordHidden = !this.isPasswordHidden;
      }

      showNext() {
        if( this.username ) {
          this.next = true;
        } else {
          this.next = false;
        }
      }

      updateEmail(provider) {
        const _email = this.email;
        if ( _email.lastIndexOf('@') >= 1) {
          var email = _email.substring(0, _email.lastIndexOf('@') + 1);
          this.email = email + provider;
          return;
        }
        this.email += '@' + provider;
      }

      gmail() {
        this.updateEmail('gmail.com');
      }

      outlook() {
        this.updateEmail('outlook.com');
      }

      icloud() {
        this.updateEmail('icloud.com');
      }

      _passwordState(isPasswordHidden) {
        if ( ! isPasswordHidden ) {
          this.togglePasswordText = 'Hide';
          this.$.password.setAttribute('type', 'text');
        } else {
          this.togglePasswordText = 'Show';
          this.$.password.setAttribute('type', 'password');
        }
      }

      _submitingChange(submiting) {
        if(submiting) {
          this.signUp();
        }
      }

      _today() {
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth()+1; //January is 0!
        var yyyy = today.getFullYear();

        if(dd<10) {
          dd = '0'+dd
        }

        if(mm<10) {
            mm = '0'+mm
        }

        today = mm + '/' + dd + '/' + yyyy;
        return today;
      }


    }

    customElements.define(RegisterComponents.is, RegisterComponents);
	</script>
</dom-module>
